html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background: #040303;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  canvas {
    border: 2px solid white;
  }