* {
    box-sizing: border-box
}

.container {
    overflow: hidden;
    margin: 50px auto 0 auto;
}
table{
    margin: 10px auto;
    border-collapse: collapse;
    max-width: 100vh;
}
table, th, td{
    border: 1px solid #cdcdcd;
    text-align: center;
}
table th, table td{
    padding: 10px;
}


button {
    background: #26C281;
    color: #fff;
    font-weight: bold;
    border: 1px solid yellow;
    cursor: pointer;
    width: 200px;
    height: 40px;
    font-size: 22px;
    display: block;
    margin: 10px auto
}